table.display_group {
	border-collapse: collapse;
}

table.display_group thead th {
	text-align: center;
}

table.display_group td {
	padding: 10px;
}

td.remove, td.image {
	text-align: center;
}

#rotating_ads{
  /*position:relative;
  margin: 100px 0 0 100px;*/
  width:100%; /* Set your image width */
  text-align: center;
}

#rotating_ads a{
  display:none;
}

#rotating_ads a img {
  height: auto;
}

#rotating_ads a.active{
  display:block;
}